In [1]:
# Faça uma sequência decrescente de 100 a 0 de 2 em dois

In [3]:
for i in range(10, 0, -2):
    print(i)

10
8
6
4
2

In [6]:
x = [2, 6,'s','w',1, 'a']
y = "Ricardo Santos"
for i in x:
    print(i)
for i in y:
    print(i)

2
6
s
w
1
a

'for i in y:\n    print(i)'

In [7]:
# complexidade de algoritmo

In [8]:
for i in range(0,3):
    for j in range(0,3):
        print(f'i = {i} e o j = {j}')

i = 0 e o j = 0
i = 0 e o j = 1
i = 0 e o j = 2
i = 1 e o j = 0
i = 1 e o j = 1
i = 1 e o j = 2
i = 2 e o j = 0
i = 2 e o j = 1
i = 2 e o j = 2

In [9]:
# Fazendo tabuada

In [11]:
for i in range(1,11):
    print(f'=========Tabuada de {i}=========')
    for j in range(1,11):
        print(f'{i} x {j} == {i*j}')

=========Tabuada de 1=========
1 x 1 == 1
1 x 2 == 2
1 x 3 == 3
1 x 4 == 4
1 x 5 == 5
1 x 6 == 6
1 x 7 == 7
1 x 8 == 8
1 x 9 == 9
1 x 10 == 10
=========Tabuada de 2=========
2 x 1 == 2
2 x 2 == 4
2 x 3 == 6
2 x 4 == 8
2 x 5 == 10
2 x 6 == 12
2 x 7 == 14
2 x 8 == 16
2 x 9 == 18
2 x 10 == 20
=========Tabuada de 3=========
3 x 1 == 3
3 x 2 == 6
3 x 3 == 9
3 x 4 == 12
3 x 5 == 15
3 x 6 == 18
3 x 7 == 21
3 x 8 == 24
3 x 9 == 27
3 x 10 == 30
=========Tabuada de 4=========
4 x 1 == 4
4 x 2 == 8
4 x 3 == 12
4 x 4 == 16
4 x 5 == 20
4 x 6 == 24
4 x 7 == 28
4 x 8 == 32
4 x 9 == 36
4 x 10 == 40
=========Tabuada de 5=========
5 x 1 == 5
5 x 2 == 10
5 x 3 == 15
5 x 4 == 20
5 x 5 == 25
5 x 6 == 30
5 x 7 == 35
5 x 8 == 40
5 x 9 == 45
5 x 10 == 50
=========Tabuada de 6=========
6 x 1 == 6
6 x 2 == 12
6 x 3 == 18
6 x 4 == 24
6 x 5 == 30
6 x 6 == 36
6 x 7 == 42
6 x 8 == 48
6 x 9 == 54
6 x 10 == 60
=========Tabuada de 7=========
7 x 1 == 7
7 x 2 == 14
7 x 3 == 21
7 x 4 == 28
7 x 5 == 35
7 x 6 == 42
7 x 7 == 49
7 x 8 == 56
7 x 9 == 63
7 x 10 == 70
=========Tabuada de 8=========
8 x 1 == 8
8 x 2 == 16
8 x 3 == 24
8 x 4 == 32
8 x 5 == 40
8 x 6 == 48
8 x 7 == 56
8 x 8 == 64
8 x 9 == 72
8 x 10 == 80
=========Tabuada de 9=========
9 x 1 == 9
9 x 2 == 18
9 x 3 == 27
9 x 4 == 36
9 x 5 == 45
9 x 6 == 54
9 x 7 == 63
9 x 8 == 72
9 x 9 == 81
9 x 10 == 90
=========Tabuada de 10=========
10 x 1 == 10
10 x 2 == 20
10 x 3 == 30
10 x 4 == 40
10 x 5 == 50
10 x 6 == 60
10 x 7 == 70
10 x 8 == 80
10 x 9 == 90
10 x 10 == 100

In [12]:
numero = int(input('Digite o numero para saber sua tabuada '))

for i in range(1,11):
    print(f'{numero} x {i} = {numero*i}')

Digite o numero para saber sua tabuada  5

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [13]:
# Fazendo adção em uma lista

In [3]:
nomes = []
while True:
    nome = input('Digite (-1) para sair ou cadastre um nome = ')
    if nome == '-1':
        break
    nomes.append(nome)
print(nomes)

Digite (-1) para sair ou cadastre um nome =  Ricardo
Digite (-1) para sair ou cadastre um nome =  Luis Ricardo
Digite (-1) para sair ou cadastre um nome =  Ramom
Digite (-1) para sair ou cadastre um nome =  Moacir
Digite (-1) para sair ou cadastre um nome =  Zila
Digite (-1) para sair ou cadastre um nome =  Eduardo
Digite (-1) para sair ou cadastre um nome =  Maria
Digite (-1) para sair ou cadastre um nome =  -1

['Ricardo', 'Luis Ricardo', 'Ramom', 'Moacir', 'Zila', 'Eduardo', 'Maria']

In [4]:
# Inserindo na lista em qualquer posição

In [5]:
nomes= ['Ricardo', 'Luis Ricardo', 'Ramom', 'Moacir', 'Zila', 'Eduardo', 'Maria']
nomes.insert(2,'Pedro')
print(nomes)

['Ricardo', 'Luis Ricardo', 'Pedro', 'Ramom', 'Moacir', 'Zila', 'Eduardo', 'Maria']

In [6]:
# Removendo pelo ultimo indice ou passando o índice

In [7]:
nomes= ['Ricardo', 'Luis Ricardo', 'Ramom', 'Moacir', 'Zila', 'Eduardo', 'Maria']
nomes.pop()
print(nomes)

['Ricardo', 'Luis Ricardo', 'Ramom', 'Moacir', 'Zila', 'Eduardo']

In [8]:
nomes= ['Ricardo', 'Luis Ricardo', 'Ramom', 'Moacir', 'Zila', 'Eduardo', 'Maria']
nomes.pop(5)
print(nomes)

['Ricardo', 'Luis Ricardo', 'Ramom', 'Moacir', 'Zila', 'Maria']

In [ ]:
#Usando o remove

In [11]:
nomes= ['Ricardo', 'Luis Ricardo', 'Ramom', 'Moacir', 'Zila', 'Eduardo', 'Maria']
nomes.remove('Ricardo')
nomes.remove('Maria')
print(nomes)

['Luis Ricardo', 'Ramom', 'Moacir', 'Zila', 'Eduardo']

In [12]:
# Encontrando um index na lista

In [14]:
nomes= ['Ricardo', 'Luis Ricardo', 'Ramom', 'Moacir', 'Zila', 'Eduardo', 'Maria']
print(nomes.index('Moacir'))
nomes.pop(nomes.index('Moacir'))
print(nomes)

3
['Ricardo', 'Luis Ricardo', 'Ramom', 'Zila', 'Eduardo', 'Maria']

In [1]:
# Ordenando listas com sort e sorted, tambem em ordem inversa

In [2]:
nomes= ['Ricardo', 'Luis Ricardo', 'Ramom', 'Moacir', 'Zila', 'Eduardo', 'Maria']
numeros = [23, 4,45, 1,67,2,59,32,21,5,234,89,6]

nomes.sort()
numeros.sort()
print(nomes)
print('-'*15)
print(numeros)

['Eduardo', 'Luis Ricardo', 'Maria', 'Moacir', 'Ramom', 'Ricardo', 'Zila']
---------------
[1, 2, 4, 5, 6, 21, 23, 32, 45, 59, 67, 89, 234]

In [4]:
nomes= ['Ricardo', 'Luis Ricardo', 'Ramom', 'Moacir', 'Zila', 'Eduardo', 'Maria']
numeros = [23, 4,45, 1,67,2,59,32,21,5,234,89,6]

nomes.sort(reverse=True)
numeros.sort(reverse=True)
print(nomes)
print('-'*15)
print(numeros)

['Zila', 'Ricardo', 'Ramom', 'Moacir', 'Maria', 'Luis Ricardo', 'Eduardo']
---------------
[234, 89, 67, 59, 45, 32, 23, 21, 6, 5, 4, 2, 1]

In [5]:
nomes= ['Ricardo', 'Luis Ricardo', 'Ramom', 'Moacir', 'Zila', 'Eduardo', 'Maria']
numeros = [23, 4,45, 1,67,2,59,32,21,5,234,89,6]

non = sorted(nomes)
num =sorted(numeros)
print(nomes)
print(non)
print('-'*15)
print(numeros)
print(num)

['Ricardo', 'Luis Ricardo', 'Ramom', 'Moacir', 'Zila', 'Eduardo', 'Maria']
['Eduardo', 'Luis Ricardo', 'Maria', 'Moacir', 'Ramom', 'Ricardo', 'Zila']
---------------
[23, 4, 45, 1, 67, 2, 59, 32, 21, 5, 234, 89, 6]
[1, 2, 4, 5, 6, 21, 23, 32, 45, 59, 67, 89, 234]

In [6]:
nomes= ['Ricardo', 'Luis Ricardo', 'Ramom', 'Moacir', 'Zila', 'Eduardo', 'Maria']
numeros = [23, 4,45, 1,67,2,59,32,21,5,234,89,6]

non = sorted(nomes,reverse=True)
num =sorted(numeros,reverse=True)
print(nomes)
print(non)
print('-'*15)
print(numeros)
print(num)

['Ricardo', 'Luis Ricardo', 'Ramom', 'Moacir', 'Zila', 'Eduardo', 'Maria']
['Zila', 'Ricardo', 'Ramom', 'Moacir', 'Maria', 'Luis Ricardo', 'Eduardo']
---------------
[23, 4, 45, 1, 67, 2, 59, 32, 21, 5, 234, 89, 6]
[234, 89, 67, 59, 45, 32, 23, 21, 6, 5, 4, 2, 1]

In [7]:
#Iterando em uma lista

In [10]:
idades = [23, 4,45, 1,67,2,59,32,21,5,86,89,6]
#passar por cada um deles
for i in range(0, len(idades)):
    #vai imprimir os ídices ou posições
    print(i,end=' ')

0 1 2 3 4 5 6 7 8 9 10 11 12

In [11]:
idades = [23, 4,45, 1,67,2,59,32,21,5,86,89,6]
#passar por cada um deles
for i in range(0, len(idades)):
    #vai imprimir os valores que estão nas posições
    print(idades[i],end=' ')

23 4 45 1 67 2 59 32 21 5 86 89 6

In [14]:
idades = [23, 4,45, 1,67,2,59,32,21,5,86,89,6]
#passar por cada um deles
for i in range(0, len(idades)):
    #vai imprimir os valorese as  posições
    print(idades[i],'=',i)

23 = 0
4 = 1
45 = 2
1 = 3
67 = 4
2 = 5
59 = 6
32 = 7
21 = 8
5 = 9
86 = 10
89 = 11
6 = 12

In [15]:
# Existe uma forma mais profissional no python para iterar os elementos de um lista

In [16]:
idades = [23, 4,45, 1,67,2,59,32,21,5,86,89,6]
# o problema é que não conseguimos acessar as posições
for i in idades:
    print(i,end=' - ')

23 - 4 - 45 - 1 - 67 - 2 - 59 - 32 - 21 - 5 - 86 - 89 - 6 -

In [18]:
idades = [23, 4,45, 1,67,2,59,32,21,5,86,89,6]
x = list(enumerate(idades))
print(x)

[(0, 23), (1, 4), (2, 45), (3, 1), (4, 67), (5, 2), (6, 59), (7, 32), (8, 21), (9, 5), (10, 86), (11, 89), (12, 6)]

In [21]:
idades = [23, 4,45, 1,67,2,59,32,21,5,86,89,6]
# podemos fazer um for
for i in enumerate(idades):
    print(i, end=' ')

(0, 23) (1, 4) (2, 45) (3, 1) (4, 67) (5, 2) (6, 59) (7, 32) (8, 21) (9, 5) (10, 86) (11, 89) (12, 6)

In [23]:
idades = [23, 4,45, 1,67,2,59,32,21,5,86,89,6]
# podemos fazer um for aninhado
for i,j in enumerate(idades):
    print(f'i = {i} e j = {j}')

i = 0 e j = 23
i = 1 e j = 4
i = 2 e j = 45
i = 3 e j = 1
i = 4 e j = 67
i = 5 e j = 2
i = 6 e j = 59
i = 7 e j = 32
i = 8 e j = 21
i = 9 e j = 5
i = 10 e j = 86
i = 11 e j = 89
i = 12 e j = 6

In [27]:
idades = [23, 4,45, 1,67,2,59,32,21,5,86,89,6]
# criando nova lista de idades pares
idades_pares = []
for i in idades:
    if i % 2 == 0:
        idades_pares.append(i)
idades_pares.sort()
print(idades_pares)
print('A quantidade de pares =', len(idades_pares))

[2, 4, 6, 32, 86]
A quantidade de pares = 5

In [28]:
# entendendo e trabalhando com matrizes

In [29]:
idades= [[1, 2, 3, 4, 5],
         [6, 7, 8, 9, 10],
         [11, 12, 13, 14, 15]]
# Se eu quiser acessar o número 14 = linha 2 e coluna 3
print(idades[2][3])

14

In [31]:
idades= [[1, 2, 3, 4, 5],
         [6, 7, 8, 9, 10],
         [11, 12, 13, 14, 15]]
# Acessar idades na posição 0
print(idades[0])
print('------------------------')
print(idades[1])
print('------------------------')
print(idades[2])

[1, 2, 3, 4, 5]
------------------------
[6, 7, 8, 9, 10]
------------------------
[11, 12, 13, 14, 15]

In [34]:
idades= [[1, 2, 3, 4, 5],
         [6, 7, 8, 9, 10],
         [11, 12, 13, 14, 15]]
for i in range(0, len(idades)):
    for j in range(0, len(idades[i])):
        print(idades[i][j],end=' = ')

1 = 2 = 3 = 4 = 5 = 6 = 7 = 8 = 9 = 10 = 11 = 12 = 13 = 14 = 15 =

In [ ]:
# Exercício utilizando listas receber 10 nomes e exibir a soma de todos eles

In [35]:
numeros = [int(input()) for i in range(0,10)]

print(sum(numeros))

 3
 4
 7
 6
 5
 12
 13
 15
 21
 34

120

In [36]:
numeros = [int(input()) for i in range(0,10)]
soma = 0
for i in numeros:
    soma += i
print(soma)

 1
 2
 3
 4
 5
 6
 7
 8
 9
 11

56

In [37]:
# programação funcional listcomprehension

In [42]:
# usando listcomprehension
x = [i for i in range(0,10)]
z = [10 for i in range(0,10)]
mult = [i*2 for i in range(0,10)]
# usando a forma tradicional
y = []
for i in range(0,10):
    y.append(i)
    
print(x)
print(y)
print(z)
print(mult)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[10, 10, 10, 10, 10, 10, 10, 10, 10, 10]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [43]:
numeros = [10,20,30,40, 50]
x =[i*2 for i in numeros]
print(x)

[20, 40, 60, 80, 100]

In [44]:
nomes = [input('Digite um nome: ') for i in range(0,3)]
print(nomes)

Digite um nome:  Ricardo
Digite um nome:  Zila
Digite um nome:  Moacir

['Ricardo', 'Zila', 'Moacir']

In [46]:
# Criando uma matriz

In [49]:
x = [[j for j in range(4,8)] for i in range(0,3)]
# É o mesmo que usando uma lista colocada a mão acima o sistema gera a lista automaticament
z = [[4,5,6,7] for i in range(0,3)]
print(x)
print(z)

[[4, 5, 6, 7], [4, 5, 6, 7], [4, 5, 6, 7]]
[[4, 5, 6, 7], [4, 5, 6, 7], [4, 5, 6, 7]]

In [50]:
x = [[input() for j in range(4,8)] for i in range(0,3)]
print(x)

 5
 6
 7
 1
 2
 3
 8
 9
 10
 1
 2
 3

[['5', '6', '7', '1'], ['2', '3', '8', '9'], ['10', '1', '2', '3']]

In [52]:
# criando uma lista tri dimencional
x = [[[input() for h in range(0,2)] for j in range(0,2)] for i in range(0,2)]
print(x)

 10
 20
 44
 55
 66
 77
 88
 99

[[['10', '20'], ['44', '55']], [['66', '77'], ['88', '99']]]

In [53]:
# usando condicionais
x =[i for i in range(0,10) if i > 4]
print(x)
# a mesma coisa convensionalmente seria assim
y = []
for i in range(0,10):
    if i > 4:
        y.append(i)
print(y)

[5, 6, 7, 8, 9]
[5, 6, 7, 8, 9]